body {
    margin: 0;
    background-color: #272727;
    color: #f0f0f0;
    font-family: arial;
}

#title {
    height: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#title h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.title-message {
    font-size: 1rem;
}

#navigation {
    position: fixed;
    top: calc(50% - 2rem);
    left: 3rem;
    transform: translateY(-50%);
    z-index: 1000;
}